Resources/main_page.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:element name="html">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="head"/>
            </xs:sequence>
            <xs:attribute name="lang" type="xs:string"/>
        </xs:complexType>
    </xs:element>

</xs:schema>