Resources/schema_article.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:include schemaLocation="schema_common_definitions.xsd"/>

    <xs:complexType name="ArticleType">
        <xs:sequence>
            <xs:element name="h2" type="xs:string"/>
            <xs:element name="p">
                <xs:complexType mixed="true">
                    <xs:attribute name="id" type="xs:string" fixed="date" use="required"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="figure" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="a">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="img">
                                        <xs:complexType>
                                            <xs:attribute name="width" type="xs:integer" use="required" fixed="300"/>
                                            <xs:attribute name="height" type="xs:integer" use="required" fixed="225"/>
                                            <xs:attribute name="src" type="xs:anyURI" use="required"/>
                                            <xs:attribute name="alt" type="xs:string" use="required"/>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                                <xs:attribute name="href" type="xs:anyURI" use="required"/>
                                <xs:attribute name="title" type="xs:string" use="required"/>
                                <xs:attribute name="target" type="xs:string" fixed="_blank" use="required"/>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="figcaption">
                            <xs:complexType mixed="true">
                                <xs:choice minOccurs="0" maxOccurs="unbounded">
                                    <xs:element name="br"/>
                                </xs:choice>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="id" type="xs:string" fixed="articleImg" use="required"/>
                </xs:complexType>
            </xs:element>

            <xs:element name="section">
                <xs:complexType>
                    <xs:choice maxOccurs="unbounded">
                        <xs:element name="h3">
                            <xs:complexType mixed="true">
                                <xs:attribute name="class" type="xs:string"/>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="h4">
                            <xs:complexType mixed="true">
                                <xs:attribute name="class" type="xs:string"/>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="img">
                            <xs:complexType>
                                <xs:attribute name="width" type="xs:integer" use="required"/>
                                <xs:attribute name="height" type="xs:integer" use="required"/>
                                <xs:attribute name="src" type="xs:anyURI" use="required"/>
                                <xs:attribute name="alt" type="xs:string" use="required"/>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="p">
                            <xs:complexType mixed="true">
                                <xs:choice maxOccurs="unbounded">
                                    <xs:element name="strong" type="strongType" minOccurs="0" maxOccurs="unbounded"/>
                                    <xs:element name="br"/>
                                    <xs:element name="a" maxOccurs="unbounded">
                                        <xs:complexType mixed="true">
                                            <xs:attribute name="href" type="xs:anyURI" use="required"/>
                                            <xs:attribute name="title" type="xs:string" use="required"/>
                                            <xs:attribute name="target" type="xs:string" fixed="_blank"/>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="span" type="spanType"/>
                                </xs:choice>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="ul">
                            <xs:complexType>
                                <xs:sequence maxOccurs="unbounded">
                                    <xs:element name="li">
                                        <xs:complexType mixed="true">
                                            <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                <xs:element name="strong" type="strongType"/>
                                                <xs:element name="span" type="spanType"/>
                                                <xs:element name="br"/>
                                                <xs:element name="a">
                                                    <xs:complexType mixed="true">
                                                        <xs:attribute name="href" type="xs:anyURI" use="required"/>
                                                        <xs:attribute name="title" type="xs:string" use="required"/>
                                                        <xs:attribute name="target" type="xs:string" fixed="_blank"/>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:choice>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="div">
                            <xs:complexType>
                                <xs:choice>
                                    <xs:element name="a">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="img">
                                                    <xs:complexType>
                                                        <xs:attribute name="width" type="xs:integer" use="required"/>
                                                        <xs:attribute name="height" type="xs:integer" use="required"/>
                                                        <xs:attribute name="src" type="xs:anyURI" use="required"/>
                                                        <xs:attribute name="alt" type="xs:string" use="required"/>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                            <xs:attribute name="href" type="xs:anyURI" use="required"/>
                                            <xs:attribute name="title" type="xs:string" use="required"/>
                                            <xs:attribute name="target" type="xs:string" fixed="_blank" use="required"/>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="iframe">
                                        <xs:complexType>
                                            <xs:attribute name="title" type="xs:string" use="required"/>
                                            <xs:attribute name="width" type="xs:integer" fixed="534" use="required"/>
                                            <xs:attribute name="height" type="xs:integer" fixed="405" use="required"/>
                                            <xs:attribute name="src" type="xs:anyURI" use="required"/>
                                            <xs:attribute name="allowfullscreen" use="required"/>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:choice>
                                <xs:attribute name="class" type="xs:string" fixed="center" use="required"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:choice>
                    <xs:attribute name="class" type="xs:string" fixed="mainText" use="required"/>
                </xs:complexType>
            </xs:element>

        </xs:sequence>
        <xs:attribute name="class" type="xs:string" fixed="textPage" use="required"/>
    </xs:complexType>

    <xs:complexType name="articleType">
        <xs:sequence>
            <xs:element name="article" type="ArticleType"/>
            <xs:element name="aside" type="asideType"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" fixed="top" use="required"/>
    </xs:complexType>

    <xs:complexType name="BodyType">
        <xs:sequence>
            <xs:element name="a" type="accessibilityLinkType"/>
            <xs:element name="header" type="headerType"/>
            <xs:element name="nav" type="navType"/>
            <xs:element name="main" type="articleType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="html">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="head" type="headType"/>
                <xs:element name="body" type="BodyType"/>
            </xs:sequence>
            <xs:attribute name="lang" type="xs:string" fixed="cs" use="required"/>
        </xs:complexType>
    </xs:element>

</xs:schema>